
html{
    background-color: black;
}

h3{
    display: flex;
    justify-content: center;
    color: white;
    
}

.frontiere{
    display: flex;
    height: 640px;
    width: 640px;
    border: 6px solid white;
    margin-left: 25%;
    background-image: url(ressources/background-black.png);
}

.joueur{
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 86px;
    left: 670px;
    transform: rotate(180deg);
    background-image: url(ressources/vaisseau.png);
    background-repeat: no-repeat;
    background-size: contain;
}